{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Carrito de Compras</h1>
    
    <!-- Contenedor para mostrar los detalles del carrito -->
    <div id="detalles-carrito" class="mt-4 border rounded p-3 bg-light">
        <p class="text-center">Cargando productos...</p>
    </div>
    
    <!-- Botón para agregar más productos -->
    <div class="text-center mt-4">
        <a href="{% url 'menu' %}" class="btn btn-primary">Agregar más productos</a>
    </div>

    <!-- Botón para finalizar el pedido -->
    <div class="text-center mt-4">
        <button id="finalizar-btn" class="btn btn-success" onclick="borrarHistorial()">Finalizar y Pagar</button>
    </div>
</div>
{% endblock %}
