{% extends 'base.html' %}

{% block title %}Inicio - Game Bites{% endblock %}

{% block content %}
    <!-- Sección de bienvenida -->
    <div class="hero-section d-flex justify-content-center align-items-center">
        <div class="card card-home text-center">
            <div class="card-body">
                <h1 class="card-title">¡Bienvenido a Insert Bites!</h1>
                <p class="card-text">Donde la comida y los videojuegos se encuentran</p>
                <a href="{% url 'categorias' %}" class="btn menu-button">Ver Menú ➔</a>
            </div>
        </div>
    </div>
{% endblock %}
