{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas y Pedidos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h1 class="text-center mb-4">Mesas</h1>
    <div class="row">
        {% for mesa in mesas %}
            <div class="col-md-3 mb-3">
                <a href="{% url 'detalle_pedidos_mesa' mesa.usuario.username %}" class="btn btn-outline-primary w-100">
                    Mesa {{ mesa.usuario.username }}
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
